<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1> 글로벌 페이지</h1>


<ul>
<h3> 에러 종류</h3>
<li>timestamp: [[${timestamp}]]</li>
<li>path: [[${path}]]</li>
<li>status: [[${status}]]</li>
<li>message: [[${message}]]</li>
<li>error: [[${error}]]</li>
<li>exception: [[${exception}]]</li>
<li>trace: [[${trace}]]</li>
</ul>
템플릿츠 밑에 error.html(무조건 error.html 이어야함)이 있는지 찾음 -> 이 html이 없으면 톰켓에러 or 화이트리스트에러뜸
서버단에서 응답에러를 처리하는 것이 아니면 스프링에서 이 페이지를 통해서 사용자에게 에러 보여줄 수 있음.
</body>
</html>